Proszę potwierdzić konto odwiedzając adres: <a href="{{ url('auth_confirm') }}{{ confirmationUrl }}">kliknij tutaj</a>

Następnie można będziesz się mógł zalogować: <a href="{{ url('auth_login') }}">tutaj</a>.

Miłego dnia :-)